<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PetFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE00CB081B94DFE200A96D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE00CB1E1B94DFE200A96D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE00CB291B94DFE200A96D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
